@import './../variables/variables.scss';

@mixin Aside($type) {
  aside{
    margin-top: 500px;
    display: flex;
    height:150px;
    flex-direction: row;
    .mitro-termet-title{
      flex:1;
     h1{
      color: #00237dd8;
      justify-content: center;
      text-align: center;

     @if $type == 0px {
          letter-spacing: 12px;
      font-size: 12px;
      word-spacing: 2px;
           margin-left: 8px;
    }
    @else if $type == 576px {
          letter-spacing: 1px;
          font-size: 40px;
        word-spacing: 20px;
           margin-left: 80px;}
     @else if $type == 768px {
          letter-spacing: 12px;
          font-size: 50px;
        word-spacing: 20px;
           margin-left: 80px;}
     @else if $type == 992px {
          letter-spacing: 12px;
          font-size: 60px;
          word-spacing: 20px;
          line-height: 100px;
          text-indent: 40px;
          margin-left: 80px;
  }//
     @else if $type == 1200px {
          letter-spacing: 12px;
          font-size: 70px;
          word-spacing: 20px;
          margin-left: 80px;}

     font-style: italic;
     font-family: 'Bebas Neue', cursive;
     font-optical-sizing: none;
     font-family: 'Arimo', sans-serif;
     align-content: center;
    }
    }
    a{
      margin-top: 7%;
      flex:.4;
      height: 70%;
      .mitro-termet-logo{
        margin-top: 7%;
        flex:.4;
        height: 100%;
        background-image: url("./../../assets/images.png");
        background-repeat: no-repeat;
        background-position: center 0px;
        background-size: 70%;
        border-style: none;
      }
    }
  }
}
