   <header class="container-fluid fixed-top headerContainer" [ngClass]="{'headerContainer__Small': smalHeader,'headerContainer__Big':!smalHeader}">
    <div  #headerHeight class="row headerWrapper" >
        <app-title [smalHeader]="smalHeader" class="col-5 align-self-center headerContainer__Title"></app-title>
        <app-tel class="col-7 headerContainer__Info"  [smalHeader]="smalHeader"></app-tel>
          <div #ab  class="row justify-content-center headerContainer__Info--Animation">
          </div>
          <div class="row headerContainer__Info--Slogan">
            <div class="col-12 Slogan">
              <h3 class="Slogan__text">INSTALACJE DLA TWOJEJ FIRMY</h3>
            </div>
          </div>
      </div>
      <app-baner [smalHeader]="smalHeader" ></app-baner>
      <app-svg class="col-10 Animation fixed-top" [hh]='hh'  [smalHeader]="smalHeader"></app-svg>
<a href="#kontaktt">KONTAKT</a>
</header>
