<header [className]="smalHeader ? 'mitro-header-small' : 'mitro-header'" class="container-fluid">
  <div class="header-wrapper row" >
    <div class="logo-wrapper">
      <div class="logo">Mitro</div>
    </div>
    <div class="header-title-wrapper">
      <div class="tell-wrapper">
          <img class="mitro-t-img" src="./../assets/call.png" alt="tel"><p> 609 244 988</p>
      </div>
      <div class="svg-wrapper" >
        <app-svg [smalHeader]="smalHeader"></app-svg>
      </div>
      <div class="text-wrapper">
          <div class="mitro-title2" >kompleksowe usługi hydrauliczne</div>
      </div>
    </div>
  </div>
<app-baner></app-baner>
</header>




  <aside>
  <div class="mitro-termet-title">
    <h1><strong>AUTORYZOWANY SERWIS TERMET</strong></h1>
  </div>
  <a href="https://www.termet.com.pl" alt="logo termet" target="blank"  ><div class="mitro-termet-logo" >
    </div></a>

   </aside>
