@mixin HeaderBig($type) {
  .mitro-header{
    animation: bigHeader $time linear 0s 1 ;
    height: $header-big;
    max-height: $header-big;
    .header-wrapper{
      .logo-wrapper{
        flex:1;
        .logo{
          padding-top: 80px;
          text-align: center;
          text-justify: center;
        }
      }
      .header-title-wrapper{
        animation: bigLogo $time linear 0s 1 ;
        flex:$flex-title-small;
      }
    }
    .banner{
      flex:$flex-banner1;
    }
  }
}
