/* @import './../variables/variables.scss';

@mixin HeaderCommon($type) {
  .mitro-header, .mitro-header-small{
    position: fixed;
    width: 100%;
    top:0px;
    left: 0px;
    right: 0px;
    display: flex;
    flex-direction: column;
    .header-wrapper{
      flex: 5;
      width: 100%;
      display: flex;
      flex-direction: row;
      .logo-wrapper{
        display: flex;
        flex-direction: column;
        background-color: $headerColor3 ;//#e5e5e5;
        .logo{
          flex: auto;
          margin-top: 7%;
          margin-bottom: 10%;
          margin-left: 5%;
          margin-right: 5%;

          font-family: 'Tajawal', sans-serif;
          font-weight: 800;
          letter-spacing: 0.047em;

          @if $type == 0px {font-size: 12px;
          }
          @else if $type == 576px {font-size: 40px;}
           @else if $type == 768px {font-size: 60px;}
           @else if $type == 992px {font-size: 100px;}
           @else if $type == 1200px {font-size: $font-1200-1;}


            color:$LogoColor;//#312e2e;

          font-style: normal;

          text-align: center;
          text-justify: center;
          // filter: drop-shadow(1px 1px 1px #c2bed9);
          border: 1px double rgba(18,125,9,.1);
          background-color: rgba(0,0,0,.01);
        }
      }
      .header-title-wrapper{
        display: flex;
        flex-direction: column;
        .tell-wrapper{
          @if $type == 0px {
            letter-spacing: 12px;
            font-size: 1px;
      }
      @else if $type == 576px {
            letter-spacing: 12px;
            font-size: 40px;}
       @else if $type == 768px {
            letter-spacing: 12px;
            font-size: 50px;}
       @else if $type == 992px {
            letter-spacing: 12px;
            font-size: 30px;
    }//
       @else if $type == 1200px {
            letter-spacing: 3px;
            font-size: $font-1200-6;}
          flex:1;
          display: flex;
          flex-direction: row;
          background-color: $headerColor3;
          align-items: flex-start;
          justify-content:flex-end;
          display: flex;
          flex-direction: row;
         // margin-top: 30px;
          //flex:3;
          font-family: 'Glegoo', serif;
          color: rgb(153, 35, 35);
          //font-size: 30px;
          font-weight: 800;
          text-align: right;
          padding-right: 100px;
            img{
              position: relative;
              top: 22%;
              height: 30%;
              animation:tel-logo 10s ease infinite;
            }
            p{
              position: relative;
              top:-20px;
              height: 30px;
              margin-left: 20px;
            }
          }

        .svg-wrapper{
          flex:3;
          display: flex;
          flex-direction: row;
          app-svg{
            height: 100%;
            width: 100%;
            background-color: $headerColor3
          }
        }
        .text-wrapper{
          min-height: 60px;
          flex:1;
          background-color: $headerColor3;
          .mitro-title2{
            color:$houseColor;
            font-weight: lighter;
            text-align: center;
            font-family: 'Armata', sans-serif;

            @if $type == 0px {
          font-size: 18px;
        }
        @else if $type == 576px {
              font-size: 20px;}
         @else if $type == 768px {
              font-size: 25px;}
         @else if $type == 992px {
              font-size: 31px;
      }//
         @else if $type == 1200px {
              font-size: $font-1200-5;}
          }
        }
      }
    }

   }
}
 */