<!-- <header [className]="smalHeader ? 'mitro-header-small' : 'mitro-header'" class="container-fluid">
  <div class="header-wrapper row" >
    <div class="logo-wrapper col-sm-12">
      <div class="logo">Mitro</div>
    </div>
    <div class="header-title-wrapper">
      <div class="tell-wrapper">
          <img class="mitro-t-img" src="./../assets/call.png" alt="tel"><p> 609 244 988</p>
      </div>
      <div class="svg-wrapper" >
        <app-svg [smalHeader]="smalHeader"></app-svg>
      </div>
      <div class="text-wrapper">
          <div class="mitro-title2" >kompleksowe usługi hydrauliczne</div>
      </div>
    </div>
  </div>
<app-baner  class="row"></app-baner>
</header>
 -->

   <header class="container-fluid fixed-top header-container">
    <div class="row  header-row">
      <div class="col-5 fc3"><h1> MITRO</h1></div>
      <div class="col-1 fc4">okkk</div>
      <div class="col-6 fc5"><img src="./../../assets/logo-mitro-house.svg" alt="mitro animacja" /></div>
    </div>
      <app-baner></app-baner>
</header>
