<footer class="col-sm-12">
  <div class="container-fluid  py-0 my-0 px-0 mx-0">
    <div class="row">
      <div class="col-sm-3 logo1">
        <a href="https://www.termet.com.pl" alt="logo termet" target="blank">
          <img src="../../assets/termet.png" alt="logo Termet">
        </a>
      </div>
      <div class="col-sm-3 logo2">
        <a href="https://www.vaillant.pl/klienci-indywidualni/" target="blank"  name="Vaillant" rel="noopener">
          <img src="../../assets/vaillant.jpg" alt="logo Vaillant" name="Vaillant"></a>
      </div>
      <div class="col-sm-3 logo3">
        <a href="https://www.buderus.com/pl/pl/" target="blank"  name="Buderus" rel="noopener">
          <img src="../../assets/buderus.jpg" alt="logo Buderus" name="Buderus"></a>
      </div>
      <div class="col-sm-3 logo4">
        <a href="http://www.refleks.pl/" target="blank"  name="hurtowania Refleks" rel="noopener">
          <img src="../../assets/refleks.png" alt="logo Refleks" name="hurtowania Refleks"></a>
      </div>
    </div>
    <div class="row no-gutters">
        <div class="col-sm-12">
          <p>Strona nie wykorzystuje plików cookie oraz nie zbiera informacji o użytkownikach.</p>
        </div>
    </div>
    <div class="row  no-gutters">
        <div class="col-sm-6">12.01.2020</div>
        <div class="col-sm-6">Created by troc.piotr@gmail.com</div>
    </div>
  </div>
</footer>
