.ast{
  margin-bottom: 200px;
}

.ASGTB{
  margin-bottom: 150px;
  .title2{
   margin-bottom: 20px;
  }
}
.cont{
  padding: 20px 50px 70px 120px;
  font-size: 1.5vw;
  text-indent: 50px;
}

.mitro-footer{
  margin-top: 150px;
  h1{
font-family: Montserrat,sans-serif;
font-weight: 100;
margin-left: 200px;
font-size: 70px;
color:#808283;
  }
  .mitro-footer-name{
    font-family: "Bebas Neue",cursive;
    margin-left: 300px;
    font-size: 50px;
    margin-bottom: 0;
    span{
      margin-bottom: 0;
      font-size: 80px;
      margin-right: 20px;
      font-weight: 800;
      color:brown;
      -webkit-background-clip: text;
      background-clip: text;
    }
  }
  h2{
    font-family: Montserrat,sans-serif;
    margin-left: 330px;
  }
}
