.articleContainer{
  .articleContainer__one{
    margin-bottom: 20vw;
    .title{
      .title__container{
        .title__container--text{
          h1{ font-size: 3vw;}
        }
        .title__container--logo{
          .containerLogo{
            a{
              width: 100%;
              height: 100%;
              img{
                position: relative;
                width: 80%;
                height: 80%;}
            }
          }
        }
      }
    }
  }
  .articleContainer__two{
    margin-bottom: 0px;
    .articleContainer__two--title{
      margin-bottom: 20px;
      h2{font-size: 3vw;}//"Atoryzowany Serwisant Gwarancyjny kotłów Termet w Białymstoku."
    }
    .articleContainer__two--text{
      .textWrapper{
        padding: 20px 1vw 70px 5vw;
        .textWrapper__text{
          font-size: 1.5vw;
          text-indent: 5vw;
        }
        .textWrapper__link{}
      }
    }
  }
  .articleContainer__three{
    .articleContainer__three--title{
      margin-left: 10vw;
    }
    .articleContainer__three--text{
      margin-left: 10vw;
    }
  }
}


//kontakt
.mitro-footer{
  margin-top: 150px;
  margin-bottom: 150px;
  h1{//kontakt
font-family: Montserrat,sans-serif;
font-weight: 100;
margin-left: 20vw;
font-size: 5vw;
color:#808283;
  }
  .mitro-footer-name{
    font-family: "Bebas Neue",cursive;
    margin-left: 20vw;
    font-size: 5vw;
    margin-bottom: 0;
    span{
      margin-bottom: 0;
      font-size: 8vw;
      margin-right: 2vw;
      font-weight: 800;
      color:brown;
      -webkit-background-clip: text;
      background-clip: text;
    }
  }
  h2{
    font-family: Montserrat,sans-serif;
    margin-left: 20vw;
  }
}

h3{
  font-size: 3vw;
}
