@import './../animations/animations.scss';
@import './../variables/variables.scss';




// big
.svg1{
  animation: bigSVG 1s linear 0s 1;
  position: relative;
  z-index: 50;
  background-color: rgb(21, 41, 41);
 flex:1;
  height:$bigSVG;
  width: 50%;
  left: 40%;
  //top:5px;
  .ksztalt{
    transform: scale(1.5) translate(-300px, -70px);
    filter: drop-shadow( 50px -20px 0px rgba(141, 19, 19,1));
    fill:$houseColor;
    stroke:$houseColor;
    stroke-dasharray: 1000;
    stroke-dashoffset: -200;
    animation: logoAnimate $time linear 0s 1;
  }
}
.svg2{
 position: relative;
 z-index: 100;
// flex:1;
  height:130px;
  width: 130px;

  left:3%;
  top:-20%;
 // background-color: chartreuse;
  animation: circle 6s linear 0s infinite;
  .arrowSVG{
    opacity: 1;
    animation: opacitySVG $time linear 0s 1;
  }
}

// small
.svg1a{
  animation: smallSVG $time linear 0s 1;
  height: $smallSVG;
  position: relative;
  z-index: 50;
 background-color: $headerColor3;
 // flex:1;
 // height:100px;
  width: 50%;
  left: 40%;
  //top:5px;
  .ksztalt{
    filter: drop-shadow( 50px -20px 0px rgba(141, 19, 19,1));
    fill:$houseColor;
    stroke:$houseColor;
    stroke-dasharray: 1000;
    stroke-dashoffset: -200;
    animation: logoAnimate1 $time linear 0s 1;
  }
}

.svg2a{
  position: relative;
  z-index: 100;
 // flex:1;
   height:50px;
   width: 50px;
   left:12.25%;
   top:-10%;
   opacity: 1;
   animation: circle 6s linear 0s infinite;
   .arrowSVG{
    opacity: 1;
    animation: opacitySVG1 $time linear 0s 1;
  }
 }

