<header class="mitro-header">
  <div class="mitro-header1">
    <div class="mitro-nav"><div class="mitro-title">Mitro</div></div>
    <div class="logo-mitro">
        <div class="mitro-title3"><img src="./../assets/call.png" alt="tel"><p> 609 244 988</p></div>
      <div class="mitro-title2">kompleksowe wyposażenie kotłowni</div>
    </div>
  </div>
  <div class="mitro-banner">
    <div class="image-wrapper">
        <!-- <img src="./../assets/pompa-cyrkulacyjna-ferro-25-40-keller.jpg" alt="pompa cyrkulacyjna"> -->
    </div>
    <div class="image-wrapper1">
        <!-- <img src="./../assets/ogrzewanie_podlogowe2.jpg" alt="pompa cyrkulacyjna"> -->
      </div>
      <div class="image-wrapper2">
          <!-- <img src="./../assets/iko2_rodzaje_zlaczek_do_rur_miedzianych.jpg" alt="pompa cyrkulacyjna"> -->
        </div>
        <div class="image-wrapper3">
            <!-- <img src="./../assets/piec-kondesacyjny-744x495.jpg" alt="pompa cyrkulacyjna"> -->
          </div>
  </div>
</header>

<aside>
  <a href="#mitro-footer"><p>kontakt</p></a>

 </aside>

<article>
  <section>
    <h2>Czym się zajmujemy ?</h2>
      <p>Naszymi klientami są zarówno klienci indywidualni, lokale usługowe i zakłady przemysłowe. Oferta firmy jest szeroka.
        Głównym typem usług są instalacje centralnego ogrzewania, wodno-kanalizacyjne i gazowe. Prowadzimy też naprawy i
        modernizacje istniejących instalacji.  Pełne wyposażenie kotłowni, ogrzewanie podłogowe, montaż grzejników. Armatura
        hydrauliczna w kuchni i  łazience. Odprowadzenie ścieków opadowych i z garażów. Montaż kominków i ogrzewania
        nadmuchowego.
      </p>
  </section>

  <section>
    <h2>Instalacje w nowych budynkach</h2>
      <p></p>
  </section>

  <section>
    <h2>Instalacje gazowe</h2>
      <p>Rozprowadzenie instalacji gazowej.Podłączenie odbiorników. Przeglądy instalacji gazowej.Rozprowadzenie
        instalacji gazowej. Podłączenie odbiorników. Instalacja zbiorników na paliwo płynne.</p>
  </section>

  <section>
      <h2>Instalacje przemysłowe</h2>
      <p>Wstawianie pieców dużej mocy.Instalacje przeciwpożarowe.</p>
  </section>

  <section>
      <h2>Usługi spawalnicze</h2>
          <p>W ofercie mamy też tworzenie konstrukcji stalowych hal. Spawanie rur.</p>
    </section>

  <section>
      <h2>Ogrzewanie podłogowe</h2>
     <p></p>
     <h2>Serwis pieców</h2>
     <p>Czyszczenie pieców. Analiza spalin. </p>
     <h2>Piece kondensacyjne - podstawowe korzyści</h2>
     <p>Wygoda i bezpieczeństwo.</p>
     <h2>Dla deweloperów</h2>
     <p>Pełne instalacje w nowych budynkach. Wykonanie instalacji według projektu.</p>

  </section>

  <section>
      <h2>Usługi dla spółdzielni mieszkaniowych.</h2>
      <p></p>

  </section>

   <section>
      <h2 class="mitro-ile">Ile zaoszczędzisz ?</h2>
    <div class="mitro-oszczedzisz-wrapper">
       <img src="./../assets/qhj8wdc4kf75muevubqgx5cek2fjueyq.jpg" alt="ile zaoszczedzisz" class="img-money">
      <div class="mitro-oszczedzisz-article">
        <p>Wykonanie pełnej instalacji daje wiele korzyści. Przedewszystkim to wykonanie wszystkich prac za pierwszym razem.</p>
        <p>Choć piec kondensacyjny jest droższy od tradycyjnego, to jego sprawność sprawia, że inwestycja zwraca się po paru
          latach. </p>
      </div>
 </div>
</section>


</article>

<footer>
  <div id="mitro-footer" class="mitro-footer">
      <h1>Skontaktuj się z nami</h1>
      <div class="mitro-contact">
        <h2 class="mitro-footer-name"><span>MITRO </span>  Mieczysław Troc</h2>
        <h2>Białystok Wigierska 17G</h2>
        <h2>telefon: 609 244 988 </h2>
        <h2>E-mail: mitro@gmail.com</h2>
        <h2>Działamy na terenie całego województwa podlaskiego</h2>
      </div>
  </div>
  <div class="mitro-footer2">
    <p><i>Created 23.11.2019, by troc.piotr@gmail.com</i></p>
    <a href="http://piotrt.ct8.pl" target="blank"><i>http://piotrt.ct8.pl</i> </a>
  </div>

</footer>

<router-outlet></router-outlet>
