// VARIABLES
// header
$bannerHeight: 70px;
$headerColor1:rgb(53,106,160);
$headerColor2:#24292e;
$houseColor:#9bc3eb;
$time:2s;

// FONT IMPORTS
@font-face{
  font-family: 'Alata';
  src: url('./../assets/Alata-Regular.ttf');
}

@import url('https://fonts.googleapis.com/css?family=Questrial&display=swap');
@import url('https://fonts.googleapis.com/css?family=Bebas+Neue&display=swap&subset=latin-ext');
@import url('https://fonts.googleapis.com/css?family=Bebas+Neue|Righteous&display=swap&subset=latin-ext');
@import url('https://fonts.googleapis.com/css?family=Bebas+Neue|Play:700|Righteous&display=swap&subset=latin-ext');
@import url('https://fonts.googleapis.com/css?family=Tajawal:200&display=swap');
@import url('https://fonts.googleapis.com/css?family=Tajawal:200,300&display=swap');
@import url('https://fonts.googleapis.com/css?family=Didact+Gothic|Tajawal:200,300&display=swap&subset=latin-ext');
@import url('https://fonts.googleapis.com/css?family=Paytone+One&display=swap&subset=latin-ext');
@import url('https://fonts.googleapis.com/css?family=Armata&display=swap&subset=latin-ext');
@import url('https://fonts.googleapis.com/css?family=Glegoo&display=swap');
@import url('https://fonts.googleapis.com/css?family=Fredericka+the+Great&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat:200,400&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat:100&display=swap');
@import url('https://fonts.googleapis.com/css?family=Alata&display=swap&subset=latin-ext');
@import url('https://fonts.googleapis.com/css?family=Roboto:900,900i&display=swap&subset=latin-ext');
@import url('https://fonts.googleapis.com/css?family=Muli:900i&display=swap&subset=latin-ext');
@import url('https://fonts.googleapis.com/css?family=Arimo:700i&display=swap&subset=latin-ext');

// animacja dachu
@keyframes logoAnimate {
  from {
    stroke-dashoffset: 1000;
  }
  to {
    stroke-dashoffset:-180;
  }
}

@keyframes windows-logo {
  0% {
    opacity: 0;
    fill-opacity:0;
  }
  50% {
    opacity: .5;
    fill-opacity: .5;
  }
  100% {
    opacity: 1;
    fill-opacity: 1;
  }
}


@keyframes tel-logo {
  0% {
    transform: scale(1.3) rotate(0deg) translate(0px,0px);
  }
  .5% {
    transform:scale(1)  rotate(20deg)  ;
  }
  1% {
    transform: scale(1.3) rotate(0deg)  ;
  }
  1.5% {
    transform:scale(1)  rotate(20deg)  ;
    filter:  grayscale(100%);
  }
  2% {
    transform:scale(1.3)  rotate(0deg)  ;
  }
  2.5% {
    transform:  rotate(20deg)  ;

  }
  3% {
    transform: scale(1) rotate(0deg) translate(0px,0px);
  }
  100% {
    transform: scale(1) rotate(0deg) translate(0px,0px);
  }
}

@keyframes showWindows1 {
  0% {
    opacity: 0;

  }
  100% {
    opacity: .2;
  }
}
@keyframes showWindows2 {
  0% {
    opacity: 1;
  }

  20% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes showWindows3 {
  0% {
    opacity: 1;
  }

  30% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes showWindows4 {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }
60% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes showWindows5 {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }
60% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes showWindows6 {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }
60% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes cirkle {
  0% {
    transform: rotate(0deg) skewY(-5deg) scale(.6) /* rotateX(0deg) */;
    opacity: .5;
  }

  25% {
    transform: rotate(90deg) skewY(-5deg) scale(.6) /* rotateX(90deg) */;
    opacity: .5;
  }
50% {
    transform: rotate(180deg) skewY(-5deg) scale(.6) /* rotateX(180deg) */;
    opacity: .5;
  }
  75% {
    transform: rotate(270deg) skewY(-5deg) scale(.6) /* rotateX(270deg) */;
    opacity: .5;
  }
  100% {
    transform: rotate(360deg) skewY(-5deg) scale(.6) /* rotateX(360deg) */;
    opacity: .5;
  }
}



.ksztalt{
  filter: drop-shadow( -50px 10px 0px rgba(141, 19, 19,1));
  fill:$houseColor;
  stroke:$houseColor;
  stroke-dasharray: 1000;
  stroke-dashoffset: -180;
  animation-name: logoAnimate;
  animation-duration: $time;
  animation-iteration-count: 1;}

 #cJGajBnnA{
   fill:$houseColor;
   stroke: $houseColor;
    animation-name: windows-logo;
   animation-duration: 6s;
   animation-iteration-count:1 ;
  }

  #a1J3xDAHyR{//11
    opacity: 0;

  }
  #czVcjXf6f{//12
    opacity: 0;

      }
  #chghNhW7F{//13
    opacity: 0;

  }
  #b6661R8pTQ{//21
    opacity: 0;

  }
  #aOxx2fsoo{//22
    opacity: 0;
      }
  #d2z1mGkeJQ{//23
    opacity: 0;
  }



header{
  background-color: rgba(0,0,0,.1);
  height: 400px;
  position: relative;
  z-index: 0;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  flex: 4;
  margin:0px;
  padding: 0px;
  .mitro-header-background{
    width: 100%;
    height: 300px;
    transform: skewY(8deg);
    transform-origin: 120%;
    z-index: -1;
    .svg1{
      position: relative;
      top:-140px;
      height: 100px;
      right: -500px;
      width: 50%;
      transform: skewY(-8deg);
    }
    .svg2{
      position: relative;
      top:-127px;
      height: 100px;
      right: 140px;
      width: 50%;
      opacity: 0;
      animation: cirkle 6s linear $time infinite,
      showWindows1 $time linear $time 1 ;
    }
  }

  .mitro-header1{
    transform: skewY(-8deg);
    transform-origin: 120%;
    position: relative;
    z-index: 0;
    display: flex;
    flex-direction: row;
    .mitro-nav{
      flex: 1.2 ;
      .mitro-title{
        font-family: 'Tajawal', sans-serif;
        font-weight: 700;
        letter-spacing: 0.047em;
        font-size: 183px;
        line-height: 1.4;
        font-style: normal;
        color:#312e2e;
        margin: 10px 50px;
        // filter: drop-shadow(1px 1px 1px #c2bed9);
        border: 1px double rgba(18,125,9,.1);
        background-color: rgba(0,0,0,.01);

      }
    }
    .logo-mitro{
      flex: 2;
      display: flex;
      flex-direction: column;
      .mitro-title3{
       // filter: sepia(80%);
        img{
          height: 30px;
          margin-right: 20px;
          margin-top: 15px;
          animation:tel-logo 10s ease infinite;
        }
        p{
          margin-top: 0px;
        }
        align-items: flex-start;
        justify-content:flex-end;
        display: flex;
        flex-direction: row;
        margin-top: 30px;
        flex:3;
        font-family: 'Glegoo', serif;
        color: rgb(153, 35, 35);
        font-size: 30px;
        font-weight: 800;
        text-align: right;
        padding-right: 100px;
      }
      .mitro-title2{
        //kompleksowe wyposażenie kotłówni
        flex:1;
        font-family: 'Armata', sans-serif;
        //filter: drop-shadow(1px 1px 1px #1c1251);
        color: #232628;
        font-size: 31px;
        font-weight: lighter;
        text-align: center;
        margin-right: 20px;
        top:50px;
        position: relative;
      }
    }
  }
  .mitro-banner{
   transform: skewY(-8deg);
   position: relative;
   // transform-origin:2000%;
    display: flex;
    flex-direction: row;
    flex: .5;
    top: 180px;

    .image-wrapper{
     background-image: url("./../assets/termet-kociol.jpg");
     flex: 1;
     height: $bannerHeight;
     background-size: 115%;
     background-repeat: no-repeat;
     background-position: center 88%;
    }
    .image-wrapper1{
      background-image: url("./../assets/pompa-cyrkulacyjna-ferro-25-40-keller.jpg");
      flex: 1;
      height: $bannerHeight;
      background-size: cover;
      background-position: center;
     }
     .image-wrapper2{
      background-image: url("./../assets/iko2_rodzaje_zlaczek_do_rur_miedzianych.jpg");
      flex: 1;
      height: $bannerHeight;
      background-size: cover;
      background-position: center;
     }
     .image-wrapper3{
      background-image: url("./../assets/ogrzewanie_podlogowe2.jpg");
      flex: 1;
      height: $bannerHeight;
      background-size: cover;
      background-position: center;
     }
  }
}

aside{
  margin-top: 50px;
  display: flex;
  height:150px;
  flex-direction: row;
  .mitro-termet-title{
    flex:1;
   h1{
     margin-left: 80px;
    color: #00237dd8;
    justify-content: center;
    text-align: center;
   font-size: 60px;
   font-style: italic;
   font-family: 'Bebas Neue', cursive;
   letter-spacing: 12px;
   word-spacing: 20px;
   font-optical-sizing: none;
   font-family: 'Arimo', sans-serif;
   line-height: 100px;
   align-content: center;
   text-indent: 40px;
  }
  }
  a{
    margin-top: 7%;
    flex:.4;
    height: 70%;
    .mitro-termet-logo{
      margin-top: 7%;
      flex:.4;
      height: 100%;
      background-image: url("./../assets/images.png");
      background-repeat: no-repeat;
      background-position: center 0px;
      background-size: 70%;
      border-style: none;
    }
  }
}



article{
  margin-top: 200px;
  section{
    h2{
      margin-left: 150px;
      margin-top: 100px;
      font-size: 50px;
      font-family: 'Bebas Neue', cursive;
      color: #808283;
    }

    .mitro-oszczedzisz-wrapper{
      img{
        margin-left: 50px;
      }
      display: flex;
      flex-direction: row;
    }
    .mitro-ile{
      margin: 280px 300px 150px 300px;
    }
  }
}

// ARTICLE 1
.mitro-AboutTermet{
  margin-top: 300px;
  h3{
    font-size: 22px;
    padding-bottom: 20px;}
    p,h3, h4{
      font-family: 'Alata', sans-serif;
      text-indent: 30px;
      width: 80%;
      margin: auto;
      color: #24292e;
    }
}


// ARTICLE 2
.mitro-list{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin-top: 70px;
  //background-color: rgb(201, 218, 212);
  width: 100%;
  div{
   // width: 30%;
    flex:40%;
    border-radius: 7px;
  }

  div:nth-child(odd){
    background-color: #9bc3eb;
    margin: 5px;
  }

  div:nth-child(even){
    background-color: #498dd1;
    margin: 5px;
  }


  h3{
    display: block;
    padding-top: 25px;
    padding-bottom: 25px;
    font-size: 30px;
    text-indent: 1px;
    padding-left: 100px;
    font-family: 'Alata', sans-serif;
  }


}

.mitro-zakres{
  p{
    font-family: 'Alata', sans-serif;
    text-indent: 30px;
    width: 80%;
    margin: auto;
    color: #24292e;
    font-size: 35px;
  }
  h2{
    letter-spacing: 6px;
  }
}

// FOOTER
footer{
  display: flex;
  flex-direction: column;
  .mitro-footer{
    margin-top: 200px;
    h1{
      font-family: 'Montserrat', sans-serif;
      font-weight: 100;
      margin-left: 200px;
      font-size: 70px;
      color: #808283;
    }
  }



  .mitro-contact{
    margin-bottom: 200px;
    .mitro-footer-name{
      font-family: 'Bebas Neue', cursive;
      margin-left: 300px;
      font-size: 50px;
      margin-bottom: 0px;
      span{
        margin-bottom: 0px;
        font-size: 80px;
        margin-right: 20px;
        font-weight: 800;
        color:brown;
        background-clip: text;
      }
    }
    h2{
      //font-family: 'Bebas Neue', cursive;
      font-family: 'Montserrat', sans-serif;
      margin-left: 330px;
    }
  }


  .mitro-footer2{
    display: inline-block;
    flex:1;
    background-color: cadetblue;
    height: 200px;
    text-align: right;
    p{
      i{
        color: #24292e;
        font-size: 12px;
      }
      margin-right: 20px;
      display: inline-block;
    }
    a{
      i{
        color: #24292e;
        font-size: 12px;
      }
      display: inline-block;
      margin-right: 100px;
      margin-bottom: 20px;
    }

  }
}



  @media screen and (max-width: 575px) {

  }
