// VARIABLES
// header
$bannerHeight: 70px;
$headerColor1:rgb(53,106,160);
$headerColor2:#24292e;


// FONT IMPORTS
@font-face{
  font-family: 'Alata';
  src: url('./../assets/Alata-Regular.ttf');
}

@import url('https://fonts.googleapis.com/css?family=Questrial&display=swap');
@import url('https://fonts.googleapis.com/css?family=Bebas+Neue&display=swap&subset=latin-ext');
@import url('https://fonts.googleapis.com/css?family=Bebas+Neue|Righteous&display=swap&subset=latin-ext');
@import url('https://fonts.googleapis.com/css?family=Bebas+Neue|Play:700|Righteous&display=swap&subset=latin-ext');
@import url('https://fonts.googleapis.com/css?family=Tajawal:200&display=swap');
@import url('https://fonts.googleapis.com/css?family=Tajawal:200,300&display=swap');
@import url('https://fonts.googleapis.com/css?family=Didact+Gothic|Tajawal:200,300&display=swap&subset=latin-ext');
@import url('https://fonts.googleapis.com/css?family=Paytone+One&display=swap&subset=latin-ext');
@import url('https://fonts.googleapis.com/css?family=Armata&display=swap&subset=latin-ext');
@import url('https://fonts.googleapis.com/css?family=Glegoo&display=swap');
@import url('https://fonts.googleapis.com/css?family=Fredericka+the+Great&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat:200,400&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat:100&display=swap');
@import url('https://fonts.googleapis.com/css?family=Alata&display=swap&subset=latin-ext');
@import url('https://fonts.googleapis.com/css?family=Roboto:900,900i&display=swap&subset=latin-ext');
@import url('https://fonts.googleapis.com/css?family=Muli:900i&display=swap&subset=latin-ext');
@import url('https://fonts.googleapis.com/css?family=Arimo:700i&display=swap&subset=latin-ext');


header{
  //
  //
  .mitro-header-background{
    width: 100%;
    height: 700px;
    //background-color: red;
    background: linear-gradient(to right, $headerColor1 0%,$headerColor2 100%);
    transform: skewY(8deg);
    transform-origin: 120%;
    z-index: -1;
  }
  position: relative;
  z-index: 0;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  flex: 4;
  margin:0px;
  padding: 0px;
 //background-color: #2f70b1;
  .mitro-header1{
    transform: skewY(-8deg);
    transform-origin: 120%;
    position: relative;
    z-index: 0;
    display: flex;
    flex-direction: row;
    .mitro-nav{

      flex: 1.2 ;
     // background: linear-gradient(to right, $headerColor1 0%,$headerColor2 100%);
      .mitro-title{
        font-family: 'Tajawal', sans-serif;
        font-size: 200px;
        color:white;
      }
    }
    .logo-mitro{
      flex: 2;
      display: flex;
      flex-direction: column;
      //background-color: $headerColor2;
      .mitro-title3{
        img{
          height: 30px;
          margin-right: 20px;
          margin-top: 15px;
        }
        p{
          margin-top: 0px;
        }
        align-items: flex-start;
        justify-content:flex-end;
        display: flex;
        flex-direction: row;
        margin-top: 30px;
        flex:3;
        font-family: 'Glegoo', serif;
        color: rgb(153, 35, 35);
        font-size: 30px;
        font-weight: 800;
        text-align: right;
        padding-right: 100px;
      }
      .mitro-title2{
        //kompleksowe wyposażenie kotłówni
        flex:1;
        font-family: 'Armata', sans-serif;

        color: aliceblue;
        font-size: 30px;
        font-weight: lighter;
        text-align: center;
      }
    }
  }
  .mitro-banner{
   //transform: skewY(8deg);
   position: relative;
    transform-origin:2000%;
    display: flex;
    flex-direction: row;
    flex: .5;
    .image-wrapper{
     background-image: url("./../assets/termet-kociol.jpg");
     flex: 1;
     height: $bannerHeight;
     background-size: 115%;
     background-repeat: no-repeat;
     background-position: center 88%;
    }
    .image-wrapper1{
      background-image: url("./../assets/pompa-cyrkulacyjna-ferro-25-40-keller.jpg");
      flex: 1;
      height: $bannerHeight;
      background-size: cover;
      background-position: center;
     }
     .image-wrapper2{
      background-image: url("./../assets/iko2_rodzaje_zlaczek_do_rur_miedzianych.jpg");
      flex: 1;
      height: $bannerHeight;
      background-size: cover;
      background-position: center;
     }
     .image-wrapper3{
      background-image: url("./../assets/ogrzewanie_podlogowe2.jpg");
      flex: 1;
      height: $bannerHeight;
      background-size: cover;
      background-position: center;
     }
  }
}

aside{
  margin-top: 50px;
  display: flex;
  height:150px;
  flex-direction: row;
  .mitro-termet-title{
    flex:1;
   h1{
     margin-left: 80px;
    color: #00237dd8;
    justify-content: center;
    text-align: center;
   font-size: 60px;
   font-style: italic;
   font-family: 'Bebas Neue', cursive;
   letter-spacing: 12px;
   word-spacing: 20px;
   font-optical-sizing: none;
   font-family: 'Arimo', sans-serif;
   line-height: 100px;
   align-content: center;
   text-indent: 40px;
  }
  }
  .mitro-termet-logo{
    margin-top: 7%;
    flex:.4;
    height: 70%;
    background-image: url("./../assets/images.png");
    background-repeat: no-repeat;
    background-position: center 0px;
    background-size: 70%;
    border-style: none;
  }
}



article{
  margin-top: 200px;
  section{
    h2{
      margin-left: 150px;
      margin-top: 100px;
      font-size: 50px;
      font-family: 'Bebas Neue', cursive;
      color: #808283;
    }

    .mitro-oszczedzisz-wrapper{
      img{
        margin-left: 50px;
      }
      display: flex;
      flex-direction: row;
    }
    .mitro-ile{
      margin: 280px 300px 150px 300px;
    }
  }
}

// ARTICLE 1
.mitro-AboutTermet{
  margin-top: 300px;
  h3{
    font-size: 22px;
    padding-bottom: 20px;}
    p,h3, h4{
      font-family: 'Alata', sans-serif;
      text-indent: 30px;
      width: 80%;
      margin: auto;
      color: #24292e;
    }
}


// ARTICLE 2
.mitro-list{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin-top: 70px;
  background-color: rgb(201, 218, 212);
  width: 100%;
  div{
    width: 30%;
    flex:40%;
    border-radius: 7px;
  }

  div:nth-child(odd){
    background-color: #9bc3eb;
    margin: 5px;
  }

  div:nth-child(even){
    background-color: #498dd1;
    margin: 5px;
  }


  h3{
    display: block;
    padding-top: 25px;
    padding-bottom: 25px;
    font-size: 30px;
    text-indent: 1px;
    padding-left: 100px;
    font-family: 'Alata', sans-serif;
  }


}

.mitro-zakres{
  p{
    font-family: 'Alata', sans-serif;
    text-indent: 30px;
    width: 80%;
    margin: auto;
    color: #24292e;
    font-size: 35px;
  }
  h2{
    letter-spacing: 6px;
  }
}

// FOOTER
footer{
  display: flex;
  flex-direction: column;
  .mitro-footer{
    margin-top: 200px;
    h1{
      font-family: 'Montserrat', sans-serif;
      font-weight: 100;
      margin-left: 200px;
      font-size: 70px;
      color: #808283;
    }
  }



  .mitro-contact{
    margin-bottom: 200px;
    .mitro-footer-name{
      font-family: 'Bebas Neue', cursive;
      margin-left: 300px;
      font-size: 50px;
      margin-bottom: 0px;
      span{
        margin-bottom: 0px;
        font-size: 80px;
        margin-right: 20px;
        font-weight: 800;
        color:brown;
        background-clip: text;
      }
    }
    h2{
      //font-family: 'Bebas Neue', cursive;
      font-family: 'Montserrat', sans-serif;
      margin-left: 330px;
    }
  }


  .mitro-footer2{
    display: inline-block;
    flex:1;
    background-color: cadetblue;
    height: 200px;
    text-align: right;
    p{
      i{
        color: #24292e;
        font-size: 12px;
      }
      margin-right: 20px;
      display: inline-block;
    }
    a{
      i{
        color: #24292e;
        font-size: 12px;
      }
      display: inline-block;
      margin-right: 100px;
      margin-bottom: 20px;
    }

  }
}



  @media screen and (max-width: 575px) {

  }
