<header class="mitro-header">
  <div class="mitro-header-background">

      <div class="mitro-header1">
          <div class="mitro-nav"><div class="mitro-title">Mitro</div></div>
          <div class="logo-mitro">
              <div class="mitro-title3"><img src="assets/call.png" alt="tel"><p> 609 244 988</p></div>
            <div class="mitro-title2">kompleksowe usługi hydrauliczne</div>
          </div>
        </div>

  <div class="mitro-banner">
      <div class="image-wrapper">
      </div>
      <div class="image-wrapper1">
        </div>
        <div class="image-wrapper2">
          </div>
          <div class="image-wrapper3">
            </div>
    </div>
  </div>


</header>

<aside>
<div class="mitro-termet-title">
  <h1><strong>AUTORYZOWANY SERWIS TERMET</strong></h1>
</div>
<div class="mitro-termet-logo" ></div>

 </aside>

<article>
  <section class="mitro-AboutTermet">
    <!--<h2>Czym się zajmujemy ?</h2>-->
    <h3>Atoryzowany Serwisant Gwarancyjny kotłów <span><strong>Termet</strong></span> w Białymstoku.</h3>
    <p>Termet jest producentem nowoczesnych rozwiązań w dziedzinie ogrzewania.</p>
    <p>Firma produkuje kotły kontensacyjne i standardowe, oraz urzadzenia pomocnicze,
       do wykorzystania w centralnym ogrzewaniu i dostarczania ciepłej wody użytkowej. </p>
    <p>Termet zapewnia standardową gwarancję na 24 miesiące. Warunkiem gwarancji jest zamontowanie urzadzenia przez Autoryzowanego Serwisanta
        Serwisanta i wykonanie Zerowego Uruchomienia urządzenia. </p>
    <p>Wydłużenie okresu gwarancyjnego do 5 lub 7 lat w przypadku montażu przez Autoryzowanego Serwisanta lub Instalatora oraz
        dokonywania regularnych przeglądow serwisowych.</p>
      <p><a href="https://www.termet.com.pl/" target="_blank">Czytaj więcej...</a></p>
  </section>

  <section class="mitro-zakres">
    <h2>Zakres usług</h2>
    <p>Oferta firmy jest szeroka. Naszymi klientami są zarówno klienci indywidualni, lokale usługowe i zakłady przemysłowe.
     <!--    Głównym typem usług są instalacje centralnego ogrzewania, wodno-kanalizacyjne i gazowe. Prowadzimy też naprawy i
        modernizacje istniejących instalacji.  Pełne wyposażenie kotłowni, ogrzewanie podłogowe, montaż grzejników. Armatura
        hydrauliczna w kuchni i  łazience. Odprowadzenie ścieków opadowych i z garażów. Montaż kominków i ogrzewania
        nadmuchowego. -->
      </p>
      <div class="mitro-list">
        <div><h3>Serwis i pierwsze uruchomienie kotłów</h3></div>
        <div><h3>Pełne wyposażenie kotłowni</h3></div>
        <div><h3>Usługi hydrauliczne</h3></div>
        <div><h3>Instalacje centralnego ogrzewania</h3></div>
        <div><h3>Ogrzewanie podłogowe</h3></div>
        <div><h3>Odprowadzenie ścieków</h3></div>
        <div> <h3>Montaż kominków</h3></div>
        <div><h3>Instalacje sanitarne w kuchni i łazience</h3></div>
        <div><h3>Instalacje przemysłowe</h3></div>
        <div><h3>Usługi spawalnicze</h3></div>
        <div><h3>Podłączenia gazowe</h3></div>
        <div></div>
      </div>



  </section>
</article>

<footer>
  <div id="mitro-footer" class="mitro-footer">
      <h1>Kontakt</h1>
      <div class="mitro-contact">
        <h2 class="mitro-footer-name"><span>MITRO </span>  Mieczysław Troc</h2>
        <h2>Białystok Wigierska 17G</h2>
        <h2>telefon: 609 244 988 </h2>
        <h2>E-mail: mitro150@interia.pl</h2>
        <h2>Działamy na terenie całego województwa podlaskiego</h2>
      </div>
  </div>
  <div class="mitro-footer2">
    <!--<p><i>Created 23.11.2019, by troc.piotr@gmail.com</i></p>-->
    <!--<a href="http://piotrt.ct8.pl" target="blank"><i>http://piotrt.ct8.pl</i> </a>-->
    <p><i>troc.piotr@gmail.com</i></p>

  </div>

</footer>

<router-outlet></router-outlet>
