$smallSVG:70px;
$bigSVG:215px;
$bannerHeight: 70px;
$headerColor1:rgb(53,106,160);
$headerColor2:#24292e;
$headerColor3:rgb(21, 41, 41);
$houseColor:#9bc3eb;
$LogoColor:#f2f5f8;
$time:1s;
$header-big: 50%;
$header-small: 20%;
$flex-title-big:3;
$flex-title-small:2;
$flex-banner0:0;
$flex-banner1:1;

