$smallSVG:10vw;
$bigSVG:15vw;

$headerColor1:rgb(53,106,160);
$headerColor2:#24292e;
$headerColor3:rgb(21, 41, 41);
$houseColor:#9bc3eb;
$LogoColor:#f2f5f8;
$time:2s;
$header-big: 50%;
$header-small: 20%;
$flex-title-big:3;
$flex-title-small:2;
$flex-banner0:0;
$flex-banner1:1;


$headerHeight: 15vw;

// font size

// normal size
$font-1200-1:120px;
$font-1200-2:100px;
$font-1200-3:80px;
$font-1200-4:70px;
$font-1200-5:40px;
$font-1200-6:30px;
$font-1200-7:24px;
$font-1200-8:16px;

