@import "./../../variables/variables.scss";

/* .banner{
  //flex:$flex-banner1;
  animation: banner $time linear 0s 1 ;
  //width: 100%;
 min-height: 50px;
  //display: flex;
 // flex-direction: row;
  .banner-wrapper1, .banner-wrapper2, .banner-wrapper3, .banner-wrapper4{
    //flex:1;
    background-size: cover;
    background-position: center;
  }
  .banner-wrapper1{
    background-image: url("./../../../assets/termet-kociol.jpg");
    background-position: center 88%;
  }
  .banner-wrapper2{
    background-image: url("./../../../assets/pompa-cyrkulacyjna-ferro-25-40-keller.jpg");
  }
  .banner-wrapper3{
    background-image: url("./../../../assets/iko2_rodzaje_zlaczek_do_rur_miedzianych.jpg");
  }
  .banner-wrapper4{
    background-image: url("./../../../assets/ogrzewanie_podlogowe2.jpg");
  }
} */

.banner{
  min-height: 5vw;
  .banner-wrapper1, .banner-wrapper2, .banner-wrapper3, .banner-wrapper4{
    background-size: cover;
    background-position: center;
  }
  .banner-wrapper1{
    background-image: url("./../../../assets/termet-kociol.jpg");
    background-position: center 88%;
  }
  .banner-wrapper2{
    background-image: url("./../../../assets/pompa-cyrkulacyjna-ferro-25-40-keller.jpg");
  }
  .banner-wrapper3{
    background-image: url("./../../../assets/iko2_rodzaje_zlaczek_do_rur_miedzianych.jpg");
  }
  .banner-wrapper4{
    background-image: url("./../../../assets/ogrzewanie_podlogowe2.jpg");
  }
}


@media (max-width: 400px) {
  .banner{
    visibility: hidden;
  }
}


