<div #pk id="przykladowaKaruzela" class="carousel slide d-none d-sm-block" data-ride="carousel"  data-interval="2000">
  <div class="carousel-inner">
    <div class="carousel-item">
      <img class="d-block w-50" src="./../../assets/termet/ECOCODNENS GOLD, MINIMAX ELEGANCE, MINITERM ELEGANCE.png" alt="Pierwszy slajd">
    </div>
    <div class="carousel-item active">
      <img class="d-block w-50 ci" src="./../../assets/termet/EASY REMOTE PNG - Kopia.png" alt="Drugi slajd">
    </div>
    <div class="carousel-item ci">
      <img class="d-block w-50" src="./../../assets/termet/reg open thermPNG.png" alt="Trzeci slajd">
    </div>
    <div class="carousel-item ">
      <img class="d-block w-50" src="./../../assets/termet/termet-kociol.jpg" alt="Trzeci slajd">
    </div>
    <div class="carousel-item">
      <img class="d-block w-50 ci" src="./../../assets/termet/reg open thermPNG.png" alt="Trzeci slajd">
    </div>
    <div class="carousel-item">
      <img class="d-block w-50" src="./../../assets/termet/Termet SG - JPG ciemny na stronę.jpg" alt="Trzeci slajd">
     <!--  <p>ZASOBNIK</p> -->
    </div>
  </div>
</div>
