/* You can add global styles to this file, and also import other style files */
body{
  display: flex;
  flex-direction: column;
  .mitro-start{
    background-color: cadetblue;
    opacity: .2;
  }
}
